
<section id="education">
  <h4 class="title text-center">/education</h4>
  <div class="timeline">
    <ul>
      <li>
        <div class="dot"></div>
        <div class="time">
          <h4>Jan 2013 - Dec 2017</h4>
        </div>
        <div class="content">
          <h3>Ximoyi Khosa High School</h3>
          <span>National Senior Certificate</span>
          <p>Majored in Mathematics, Physical Science, and Life Sciences.</p>
        </div>
      </li>
      <li>
        <div class="dot"></div>
        <div class="time">
          <h4>Jan 2018 - Dec 2019</h4>
        </div>
        <div class="content">
          <h3>Vaal University Of Technology</h3>
          <span>National Senior Certificate</span>
          <p>Majored in Power(Electrical Engineering), Digital Systems, Electronics, and Programming.</p>
        </div>
      </li>
      <li>
        <div class="dot"></div>
        <div class="time">
          <h4>Jan 2013 - Dec 2017</h4>
        </div>
        <div class="content">
          <h3>We Think Code_</h3>
          <span>NQF5, Software Development</span>
          <p>Programming, Team collaboration, Communication, and peer to peer learning.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
