<section id="skills">
  <h4 class="title text-center">/my skills</h4>
  <div class="skills">
    <ul>
      <li>
        <div class="accordion">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Back-End
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body">
              <h3>C#</h3>
              <h3>Java</h3>
              <h3>Python</h3>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="accordion">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Front-End
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
          <div class="accordion-body">
            <h3>HTML</h3>
            <h3>CSS</h3>
            <h3>JavaScript</h3>
            <h3>TypeScript</h3>
          </div>
        </div>
      </li>

      <li>
        <div class="accordion">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Mobile
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
          <div class="accordion-body">
            <h3>Flutter</h3>
          </div>
        </div>
      </li>

      <li>
        <div class="accordion">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              Tools
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour">
          <div class="accordion-body">
            <h3>Git</h3>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
