<nav class="navbar sticky-top navbar-expand-lg">
  <a class="navbar-brand" href="#" aria-label="Website logo and a home navigation"><img class="logo" [src]="path" alt="Website logo" /></a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#experience">Experience</a>
      <li class="nav-item">
        <a class="nav-link" href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
    <a class="btn btn-dark" [href]="cv" download="Demaind_Ubisi_CV.pdf">
      Download CV
    </a>
  </div>
</nav>

